@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

.dark.teal {
	--radius: 0.75rem;
	--background: oklch(0.1448 0 0);
	--foreground: oklch(0.9219 0 0);
	--card: oklch(0.2046 0 0);
	--card-foreground: oklch(0.9219 0 0);
	--popover: oklch(0.2046 0 0);
	--popover-foreground: oklch(0.9219 0 0);
	--primary: oklch(0.6002 0.1038 184.704);
	--primary-foreground: oklch(0.9836 0.0142 180.72);
	--secondary: oklch(0.2686 0 0);
	--secondary-foreground: oklch(0.9219 0 0);
	--muted: oklch(0.2046 0 0);
	--muted-foreground: oklch(0.7155 0 0);
	--accent: oklch(0.3861 0.059 188.4158);
	--accent-foreground: oklch(0.9527 0.0498 180.8012);
	--destructive: oklch(0.4437 0.1613 26.8994);
	--border: oklch(0.2686 0 0);
	--input: oklch(0.2686 0 0);
	--ring: oklch(0.7038 0.123 182.5025);
	--chart-1: oklch(0.6002 0.1038 184.704);
	--chart-2: oklch(0.5246 0.199 3.9582);
	--chart-3: oklch(0.5 0.1193 242.749);
	--chart-4: oklch(0.5553 0.1455 48.9975);
	--chart-5: oklch(0.3807 0.1661 304.9874);
	--sidebar: oklch(0.2046 0 0);
	--sidebar-foreground: oklch(0.7155 0 0);
	--sidebar-primary: oklch(0.6002 0.1038 184.704);
	--sidebar-primary-foreground: oklch(0.9836 0.0142 180.72);
	--sidebar-accent: oklch(0.6002 0.1038 184.704);
	--sidebar-accent-foreground: oklch(0.9836 0.0142 180.72);
	--sidebar-border: oklch(0.2686 0 0);
	--sidebar-ring: oklch(0.7038 0.123 182.5025);
	--shadow-x: 0px;
	--shadow-y: 3px;
	--shadow-blur: 6px;
	--shadow-spread: 1px;
	--shadow-opacity: 0.15;
	--shadow-color: #000000;
	--shadow-2xs: 0px 3px 6px 1px hsl(0 0% 0% / 0.07);
	--shadow-xs: 0px 3px 6px 1px hsl(0 0% 0% / 0.07);
	--shadow-sm: 0px 3px 6px 1px hsl(0 0% 0% / 0.15), 0px 1px 2px 0px hsl(0 0% 0% / 0.15);
	--shadow: 0px 3px 6px 1px hsl(0 0% 0% / 0.15), 0px 1px 2px 0px hsl(0 0% 0% / 0.15);
	--shadow-md: 0px 3px 6px 1px hsl(0 0% 0% / 0.15), 0px 2px 4px 0px hsl(0 0% 0% / 0.15);
	--shadow-lg: 0px 3px 6px 1px hsl(0 0% 0% / 0.15), 0px 4px 6px 0px hsl(0 0% 0% / 0.15);
	--shadow-xl: 0px 3px 6px 1px hsl(0 0% 0% / 0.15), 0px 8px 10px 0px hsl(0 0% 0% / 0.15);
	--shadow-2xl: 0px 3px 6px 1px hsl(0 0% 0% / 0.38);
}

.dark.amber {
	--background: oklch(0.2046 0 0);
	--foreground: oklch(0.9219 0 0);
	--card: oklch(0.2686 0 0);
	--card-foreground: oklch(0.9219 0 0);
	--popover: oklch(0.2686 0 0);
	--popover-foreground: oklch(0.9219 0 0);
	--primary: oklch(0.7686 0.1647 70.0804);
	--primary-foreground: oklch(0 0 0);
	--secondary: oklch(0.2686 0 0);
	--secondary-foreground: oklch(0.9219 0 0);
	--muted: oklch(0.2393 0 0);
	--muted-foreground: oklch(0.7155 0 0);
	--accent: oklch(0.4732 0.1247 46.2007);
	--accent-foreground: oklch(0.9243 0.1151 95.7459);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3715 0 0);
	--input: oklch(0.3715 0 0);
	--ring: oklch(0.7686 0.1647 70.0804);
	--chart-1: oklch(0.8369 0.1644 84.4286);
	--chart-2: oklch(0.6658 0.1574 58.3183);
	--chart-3: oklch(0.4732 0.1247 46.2007);
	--chart-4: oklch(0.5553 0.1455 48.9975);
	--chart-5: oklch(0.4732 0.1247 46.2007);
	--sidebar: oklch(0.1684 0 0);
	--sidebar-foreground: oklch(0.9219 0 0);
	--sidebar-primary: oklch(0.7686 0.1647 70.0804);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.4732 0.1247 46.2007);
	--sidebar-accent-foreground: oklch(0.9243 0.1151 95.7459);
	--sidebar-border: oklch(0.3715 0 0);
	--sidebar-ring: oklch(0.7686 0.1647 70.0804);
	--font-sans: Inter, sans-serif;
	--font-serif: Source Serif 4, serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.375rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 8px;
	--shadow-spread: -1px;
	--shadow-opacity: 0.1;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
	--shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
	--shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

.dark.catpuccin {
	--background: oklch(0.2155 0.0254 284.0647);
	--foreground: oklch(0.8787 0.0426 272.2767);
	--card: oklch(0.2429 0.0304 283.911);
	--card-foreground: oklch(0.8787 0.0426 272.2767);
	--popover: oklch(0.4037 0.032 280.152);
	--popover-foreground: oklch(0.8787 0.0426 272.2767);
	--primary: oklch(0.7871 0.1187 304.7693);
	--primary-foreground: oklch(0.2429 0.0304 283.911);
	--secondary: oklch(0.4765 0.034 278.643);
	--secondary-foreground: oklch(0.8787 0.0426 272.2767);
	--muted: oklch(0.2973 0.0294 276.2144);
	--muted-foreground: oklch(0.751 0.0396 273.932);
	--accent: oklch(0.8467 0.0833 210.2545);
	--accent-foreground: oklch(0.2429 0.0304 283.911);
	--destructive: oklch(0.7556 0.1297 2.7642);
	--destructive-foreground: oklch(0.2429 0.0304 283.911);
	--border: oklch(0.324 0.0319 281.9784);
	--input: oklch(0.324 0.0319 281.9784);
	--ring: oklch(0.7871 0.1187 304.7693);
	--chart-1: oklch(0.7871 0.1187 304.7693);
	--chart-2: oklch(0.8467 0.0833 210.2545);
	--chart-3: oklch(0.8577 0.1092 142.7153);
	--chart-4: oklch(0.8237 0.1015 52.6294);
	--chart-5: oklch(0.9226 0.0238 30.4919);
	--sidebar: oklch(0.1828 0.0204 284.2039);
	--sidebar-foreground: oklch(0.8787 0.0426 272.2767);
	--sidebar-primary: oklch(0.7871 0.1187 304.7693);
	--sidebar-primary-foreground: oklch(0.2429 0.0304 283.911);
	--sidebar-accent: oklch(0.8467 0.0833 210.2545);
	--sidebar-accent-foreground: oklch(0.2429 0.0304 283.911);
	--sidebar-border: oklch(0.4037 0.032 280.152);
	--sidebar-ring: oklch(0.7871 0.1187 304.7693);
	--font-sans: Montserrat, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: Fira Code, monospace;
	--radius: 0.35rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 6px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.12;
	--shadow-color: hsl(240 30% 25%);
	--shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
	--shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
	--shadow-sm: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
	--shadow: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
	--shadow-md: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
	--shadow-lg: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
	--shadow-xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
	--shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.3);
}

.dark.cyberpunk {
	--background: oklch(0.1649 0.0352 281.8285);
	--foreground: oklch(0.9513 0.0074 260.7315);
	--card: oklch(0.2542 0.0611 281.1423);
	--card-foreground: oklch(0.9513 0.0074 260.7315);
	--popover: oklch(0.2542 0.0611 281.1423);
	--popover-foreground: oklch(0.9513 0.0074 260.7315);
	--primary: oklch(0.6726 0.2904 341.4084);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.2542 0.0611 281.1423);
	--secondary-foreground: oklch(0.9513 0.0074 260.7315);
	--muted: oklch(0.2123 0.0522 280.9917);
	--muted-foreground: oklch(0.6245 0.05 278.1046);
	--accent: oklch(0.8903 0.1739 171.269);
	--accent-foreground: oklch(0.1649 0.0352 281.8285);
	--destructive: oklch(0.6535 0.2348 34.037);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3279 0.0832 280.789);
	--input: oklch(0.3279 0.0832 280.789);
	--ring: oklch(0.6726 0.2904 341.4084);
	--chart-1: oklch(0.6726 0.2904 341.4084);
	--chart-2: oklch(0.5488 0.2944 299.0954);
	--chart-3: oklch(0.8442 0.1457 209.2851);
	--chart-4: oklch(0.8903 0.1739 171.269);
	--chart-5: oklch(0.9168 0.1915 101.407);
	--sidebar: oklch(0.1649 0.0352 281.8285);
	--sidebar-foreground: oklch(0.9513 0.0074 260.7315);
	--sidebar-primary: oklch(0.6726 0.2904 341.4084);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.8903 0.1739 171.269);
	--sidebar-accent-foreground: oklch(0.1649 0.0352 281.8285);
	--sidebar-border: oklch(0.3279 0.0832 280.789);
	--sidebar-ring: oklch(0.6726 0.2904 341.4084);
	--font-sans: Outfit, sans-serif;
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono: Fira Code, monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 8px;
	--shadow-spread: -2px;
	--shadow-opacity: 0.1;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
	--shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
	--shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
}

.dark.ocean_breeze {
	--background: oklch(0.2077 0.0398 265.7549);
	--foreground: oklch(0.8717 0.0093 258.3382);
	--card: oklch(0.2795 0.0368 260.031);
	--card-foreground: oklch(0.8717 0.0093 258.3382);
	--popover: oklch(0.2795 0.0368 260.031);
	--popover-foreground: oklch(0.8717 0.0093 258.3382);
	--primary: oklch(0.7729 0.1535 163.2231);
	--primary-foreground: oklch(0.2077 0.0398 265.7549);
	--secondary: oklch(0.3351 0.0331 260.912);
	--secondary-foreground: oklch(0.7118 0.0129 286.0665);
	--muted: oklch(0.2463 0.0275 259.9628);
	--muted-foreground: oklch(0.551 0.0234 264.3637);
	--accent: oklch(0.3729 0.0306 259.7328);
	--accent-foreground: oklch(0.7118 0.0129 286.0665);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(0.2077 0.0398 265.7549);
	--border: oklch(0.4461 0.0263 256.8018);
	--input: oklch(0.4461 0.0263 256.8018);
	--ring: oklch(0.7729 0.1535 163.2231);
	--chart-1: oklch(0.7729 0.1535 163.2231);
	--chart-2: oklch(0.7845 0.1325 181.912);
	--chart-3: oklch(0.7227 0.192 149.5793);
	--chart-4: oklch(0.6959 0.1491 162.4796);
	--chart-5: oklch(0.596 0.1274 163.2254);
	--sidebar: oklch(0.2795 0.0368 260.031);
	--sidebar-foreground: oklch(0.8717 0.0093 258.3382);
	--sidebar-primary: oklch(0.7729 0.1535 163.2231);
	--sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
	--sidebar-accent: oklch(0.3729 0.0306 259.7328);
	--sidebar-accent-foreground: oklch(0.7118 0.0129 286.0665);
	--sidebar-border: oklch(0.4461 0.0263 256.8018);
	--sidebar-ring: oklch(0.7729 0.1535 163.2231);
	--font-sans: DM Sans, sans-serif;
	--font-serif: Lora, serif;
	--font-mono: IBM Plex Mono, monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 8px;
	--shadow-spread: -1px;
	--shadow-opacity: 0.1;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
	--shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
	--shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

.dark.default {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.541 0.281 293.009);
	--primary-foreground: oklch(0.969 0.016 293.756);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.541 0.281 293.009);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.541 0.281 293.009);
	--sidebar-primary-foreground: oklch(0.969 0.016 293.756);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.541 0.281 293.009);
	--font-sans: Plus Jakarta Sans, sans-serif;
	--font-serif: Lora, serif;
	--font-mono: IBM Plex Mono, monospace;
	--radius: 0.65rem;
	--shadow-x: 0px;
	--shadow-y: 2px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.16;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
	--shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
	--shadow-sm: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
	--shadow: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
	--shadow-md: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 2px 4px -1px hsl(0 0% 0% / 0.16);
	--shadow-lg: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 4px 6px -1px hsl(0 0% 0% / 0.16);
	--shadow-xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 8px 10px -1px hsl(0 0% 0% / 0.16);
	--shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.4);
}

:root {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.541 0.281 293.009);
	--primary-foreground: oklch(0.969 0.016 293.756);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.541 0.281 293.009);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.541 0.281 293.009);
	--sidebar-primary-foreground: oklch(0.969 0.016 293.756);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.541 0.281 293.009);
	--font-sans: Plus Jakarta Sans, sans-serif;
	--font-serif: Lora, serif;
	--font-mono: IBM Plex Mono, monospace;
	--radius: 0.65rem;
	--shadow-x: 0px;
	--shadow-y: 2px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.16;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
	--shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
	--shadow-sm: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
	--shadow: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
	--shadow-md: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 2px 4px -1px hsl(0 0% 0% / 0.16);
	--shadow-lg: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 4px 6px -1px hsl(0 0% 0% / 0.16);
	--shadow-xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 8px 10px -1px hsl(0 0% 0% / 0.16);
	--shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.4);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);

	--container-xs: 20rem;
	--container-sm: 24rem;
	--container-md: 28rem;
	--container-lg: 48rem;
	--container-3xl: 48rem;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		letter-spacing: var(--tracking-normal);
		@apply bg-background text-foreground;
	}

	html {
		@apply antialiased;
	}
}

.art-controls {
	--art-control-height: 46px;
	--art-control-width: 46px;
}

@media (max-width: 768px) {
	.art-controls {
		--art-control-height: 36px;
		--art-control-width: 36px;
	}
}

[class^='art'] {
	z-index: 0 !important;
}
