name: Deploy

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [api, proxy, worker]
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: docker/setup-buildx-action@v3

      - name: Build & push ${{ matrix.service }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          target: ${{ matrix.service }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/aniways-${{ matrix.service }}:latest
            ${{ secrets.DOCKER_USERNAME }}/aniways-${{ matrix.service }}:${{ github.sha }}
