name: Deploy

on:
  workflow_dispatch:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - { name: api, target: api, tag: aniways-api }
          - { name: proxy, target: proxy, tag: aniways-proxy }
          - { name: worker, target: worker, tag: aniways-worker }
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-buildx-action@v3

      - name: Build & push ${{ matrix.service.name }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          target: ${{ matrix.service.target }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: |
            ghcr.io/coeeter/${{ matrix.service.tag }}:latest
            ghcr.io/coeeter/${{ matrix.service.tag }}:${{ github.sha }}
